<%= form_for(@chunk) do |f| %>
  <% if @chunk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chunk.errors.count, "error") %> prohibited this chunk from being saved:</h2>

      <ul>
      <% @chunk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :key %><br />
    <%= f.text_field :key, :value => @key %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value, :value => @value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
