<h1>Listing chunks</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Key</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @chunks.each do |chunk| %>
  <tr>
    <td><%= chunk.label %></td>
    <td><%= chunk.key %></td>
    <td><%= chunk.value %></td>
    <td><%= link_to 'Show', chunk %></td>
    <td><%= link_to 'Edit', edit_chunk_path(chunk) %></td>
    <td><%= link_to 'Destroy', chunk, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Chunk', new_chunk_path %>

<br>
<br>
Schunks = <%=raw @schunks %>
